@use "../global" as *;

//! home page

#home-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 4rem 0;

  h3 {
    font-size: $h3-size;
  }

  h2 {
    font-size: $h2-size;
  }

  h1 {
    font-size: $h1-size;
  }

  p {
    color: $greyText;
  }
}

.welcome-screen {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
  padding: 8rem 0rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.welcome-wrapper {
  display: flex;
  align-items: center;
  max-width: 83rem;
  margin: 0 2rem;
  width: 100%;

  @include mediumWidth {
    justify-content: center;
    text-align: center;
  }
}

.welcome-des {
  width: 40rem;
  margin: 0 3rem;
  position: relative;
  z-index: 2;

  h3 {
    margin-bottom: 1rem;
  }

  h1 {
    display: inline;
    line-height: 3rem;

    strong {
      color: $primColor;
    }
  }

  p {
    margin: 2rem 0;

    @media (max-width: 1050px) {
      width: 28rem;
    }

    @include mediumWidth {
      justify-content: center;
      text-align: center;
      width: auto;
    }
  }
}

.welcome-links {
  display: flex;
  gap: 1.5rem;

  @include mediumWidth {
    justify-content: center;
    text-align: center;
  }

  a {
    display: flex;
    text-align: center;
    gap: 0.3rem;
    font-size: $h4-size;
    font-weight: 600;
  }

  a:nth-child(1) {
    @include button-style;
  }

  a:nth-child(2) {
    @include button-style;
    background-color: #000;
    border: #000 2px solid;

    &:hover {
      color: #000;
      background-color: #ffff;
    }
  }
}

.welcome-img {
  position: absolute;
  left: 8rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  margin-right: 0.5rem;

  @include mediumWidth {
    display: none;
  }

  img {
    width: 40%;
    margin-right: 5rem;
  }
}

.welcome-screen-bg {
  position: absolute;
  z-index: 1;
  width: 85rem;
  top: -25rem;
  right: -35rem;
}

//! request form

#home-request {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
}

.request-bg-color {
  background-image: url("../img/requestBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   z-index: 2;
}

.request-wrapper {
  background-image: url("../img/requestBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 80%;
  max-width: 65rem;
  margin: 0 3rem;
  padding: 5rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  h2 {
    margin-bottom: 1rem;
  }

  .request-form {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: end;

    @include mediumWidth {
      grid-template-columns: 1fr;
    }

    div {
      display: grid;
      gap: 1rem;

      label {
        font-size: $h4-size;
        font-weight: 600;
        display: flex;
        gap: 0.5rem;

        svg {
          color: $primColor;
        }
      }

      select,
      input {
        color: $greyText;
      }

      input {
        text-align: center;
        padding: 0.5rem 0;
      }
    }

    button {
      @include button-style;
      border: none;
      height: 3rem;
      cursor: pointer;
    }
  }
}

.fields-banner {
  display: none;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.3rem;

  div {
    cursor: pointer;
  }
}
.banner-wrong {
  background: #fc8989;
}

.banner-right {
  background: #9ff995;
}

.fields-banner-active {
  display: flex;
}

//! Advantages screen

#advantages-screen {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  margin: 4rem 0;
  overflow: hidden;
  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 80%;
  row-gap: 2.5rem;

  @include mediumWidth {
    grid-template-columns: 1fr 1fr;
  }

  @include smallWidth {
    grid-template-columns: 1fr;
  }

  .advantage:nth-child(1) div {
    border-radius: 30% 70% 42% 58% / 30% 14% 86% 70%;
  }

  .advantage:nth-child(2) div {
    border-radius: 59% 41% 31% 69% / 73% 33% 67% 27%;
  }

  .advantage:nth-child(3) div {
    border-radius: 41% 59% 56% 44% / 18% 83% 17% 82%;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  text-align: center;

  div {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $primLight;
    color: $primColor;

    &:hover {
      background-color: $primLightHover;
      color: $primDark;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }
}

//! Models screen

#bike-models {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  align-items: center;
  overflow: hidden;
  background-color: $bgGrey;
}

.models-main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 78rem;
  margin: 0 3rem;
  row-gap: 1rem;
}

.models-wrapper {
  width: 100%;
  display: flex;
  gap: 3rem;
  margin-top: 2rem;

  @include bigWidth {
    flex-direction: column;
  }

  .models-img-table {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 2rem;

    @include mediumWidth {
      flex-direction: column;
    }
  }
}

.models-choose {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 12rem;

  button {
    padding: 1rem;
    background-color: $inputBg;
    border: none;
    font-size: $h3-size;
    font-weight: 600;

    &:hover {
      background-color: $primColor;
      color: #ffff;
    }
  }

  .model-active-btn {
    background-color: $primColor;
    color: #ffff;
  }
}

.models-img {
  width: 30rem;
  height: 28rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 100%;
    height: 100%;

    @include mediumWidth {
      width: 80%;
      height: 80%;
    }
  }
}

.models-table {
  display: flex;
  flex-direction: column;

  .bike-price {
    background-color: $primColor;
    color: #ffff;
    padding: 0.8rem;
    font-size: $h3-size;
    justify-content: center;
    align-items: center;
    display: flex;
    span {
      font-size: $h2-size;
      font-weight: 600;
    }
  }

  .bike-model {
    border: 1px solid black;
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    span {
      text-align: center;
      padding: 0.2rem 1rem;
      font-size: $h4-size;
    }

    span:nth-child(1) {
      border-right: 1px black solid;
    }
  }

  a {
    @include button-style;
    font-size: $h3-size;
    text-align: center;
    margin-top: 1rem;
  }
}

//! Chooose us screen

#choose-us-screen {
  padding: 5rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.choose-us-wrapper {
  width: 100%;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;

  @include navBarWidth {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

.choose-us-text {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  text-align: left;
  row-gap: 1.5rem;

  @include navBarWidth {
    text-align: center;
    align-items: center;
  }

  a {
    @include button-style;
    display: flex;
    width: 7rem;
    text-align: center;
    justify-content: center;
    font-size: $h4-size;
    gap: 0.3rem;
    font-weight: 600;
  }
}

.choose-us-all-reasons {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .choose-us-reason {
    display: flex;
    gap: 1rem;
    align-items: center;

    div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
      background-color: $primLight;
      color: $primColor;

      &:hover {
        background-color: $primLightHover;
        color: $primDark;
      }
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      line-height: 1.2rem;
    }
  }
}

//! reviews screen

#reviews-screen {
  padding: 6rem 0;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgGrey;
}
.review-screen-wrapper {
  gap: 1rem;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.reviews-screen-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  margin: 0 3rem;
  margin-bottom: 3rem;
  gap: 0.5rem;
}

.review-screen-clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  h3 {
    line-height: 1.8rem;
  }

  @include navBarWidth {
    .review-screen-review:nth-child(1) {
      display: none;
    }
    grid-template-columns: 1fr;
  }

  .review-screen-review {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    padding: 2rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    gap: 1rem;

    .review-screen-client-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      svg {
        color: $primColor;
      }

      .review-screen-client-photo-des {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .review-screen-face {
          display: flex;
          padding: 2.5rem;
          border-radius: 50%;
          background-position: 50%;
          background-size: cover;
        }

        .cillian {
          background-image: url("../img/Cillian.png");
        }

        .minami {
          background-image: url("../img/Minami.png");
        }
      }
    }
  }
}

//! questions screen

#questions-screen {
  padding: 6rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.questions-wrapper {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  .questions-des {
    text-align: center;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    row-gap: 1rem;
  }

  .all-questions {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .faq-question {
    div:nth-child(1) {
      padding: 1.5rem 1rem;
      width: 100%;
      cursor: pointer;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      transition: background-color 0.3s ease;

      svg {
        transition: all 0.2s ease-in-out;
      }

      h3 {
        transition: color 0.1s;
        font-weight: 500;
      }
    }
  }
}

.active-question {
  background-color: $primColor;
  color: #ffff;

  svg {
    transform: rotate(180deg);
  }
}

.questions-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-size: $h4-size;
  overflow: hidden;
  width: 100%;
  padding: 0rem 1rem;
  color: $greyText;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  max-height: 0;
  transition: 0.3s ease;
}

.active-answer {
  padding: 1.2rem 1rem;
  max-height: fit-content;
}

//! advertisement screen

#advertisement-screen {
  height: auto;
  width: 100%;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgGrey;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position: 85% 3rem;

  @include navBarWidth {
    background-image: none;
  }
}

.advertisement-wrapper {
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
  row-gap: 4rem;
  position: relative;
  @include navBarWidth {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.advertisement-des {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  h4 {
    line-height: 1.5rem;
    color: $greyText;
  }
}

.advertisement-links {
  display: flex;
  gap: 2rem;

  @media (max-width: 420px) {
    flex-direction: column;
  }

  a {
    img {
      width: 13rem;
    }
  }
}

//! Requst Menu
.request-menu-bg {
  background-color: #00000050;
  width: 110%;
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
}

.request-menu-screen {
  width: 50rem;
  height: 90vh;
  display: flex;
  position: fixed;
  top: 5rem;
  z-index: 5;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;

  @include mediumWidth {
    width: 100%;
  }
}

.request-menu-wrapp {
  width: 100%;
}

.request-menu-des {
  width: 100%;
  .request-menu-top,
  .request-menu-mid,
  .request-menu-main,
  .menu-main-complete {
    padding: 1.5rem;
    display: flex;
  }

  .request-menu-top {
    justify-content: space-between;
    background-color: $primColor;
    color: #fff;
    align-items: center;
    button {
      color: #fff;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .request-menu-mid {
    flex-direction: column;
    gap: 1rem;
    background-color: $primLight;
    h3 {
      color: $primColor;
    }
  }
  .request-menu-main {
    flex-direction: column;

    .menu-main-time {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include smallWidth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }

    .main-date-location {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1.5rem;

      span {
        color: $primColor;
      }

      .location-info {
        display: flex;
        gap: 0.5rem;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    .menu-main-bike {
      h3 {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;
        justify-content: center;

        b {
          color: $primColor;
        }
      }

      img {
        width: 20rem;
      }
    }

    .menu-main-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid $greyText;
      gap: 2rem;

      h3 {
        color: $primColor;
        margin: 1.5rem 0rem;
      }

      .request-input-field {
        width: 100%;

        h4 {
          font-size: 1.1rem;
          color: $greyText;
          margin-bottom: 0.5rem;
        }

        input {
          padding: 0.5rem 1rem;
          width: 90%;
        }

        p {
          font-size: 0.8rem;
          color: #000;
        }
      }

      .main-info-personal,
      .main-info-address,
      .main-info-mail {
        gap: 1rem;
        display: grid;
      }

      .main-info-personal {
        grid-template-columns: 1fr 1fr;

        @include smallWidth {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .main-info-check {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;

      input {
        width: 1rem;
      }
    }
  }
  .menu-main-complete {
    display: flex;
    justify-content: right;
    background-color: $primLight;

    @include smallWidth {
      justify-content: center;
    }

    button {
      border: none;
      @include button-style;
      cursor: pointer;
      font-size: $h3-size;
    }
  }
}

.request-menu-closed {
  display: none;
}
