@use "../global" as *;

#nav-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 1rem;
  position: absolute;
  z-index: 2;
  width: 100%;

  a {
    font-size: $h4-size;
    font-weight: 550;
  }
}

.nav-wrapper {
  height: 3rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .nav-logo {
    display: flex;
    align-items: center;

    p {
      color: $primColor;
    }

    h3 {
      display: flex;
      font-size: $h2-size;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: $default-gap;


    a {
      &:hover {
        color: $primColor;
      }
    }
  }

  .login-register {
    display: flex;
    gap: 1.5rem;
    align-items: center;


    a:first-child {
      &:hover {
        color: $primColor;
      }
    }

    a:nth-child(2) {
      @include button-style;
    }
  }

  .nav-menu-btn {
    display: none;
    cursor: pointer;
  }

  @media (max-width: $navBarWidth) {
  .login-register, .nav-menu {
    display: none;
  }
  .nav-menu-btn {
    display: flex;
  }
}


}


//! Drop down meny

.drop-menu {
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.drop-menu a:hover, .menu-close-button:hover {
    color: var(--font-focus-color);
    transition: color 0.2s ease-in-out;
}

.menu-close-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
}

.menu-open {
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
}



//! AllPagesBg

#all-pages-start-screen {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../img/allPagesBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-pages-start-wrapper {
  background-color: #ffffffd2;
  display: flex;
  width: 100%;
  display: flex;
  padding-top: 10rem;

  .all-pages-start-text {
    margin: 0 5rem;

    h1 {
      font-size: $h1-size;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: $h3-size;

      a:hover {
        color: $primColor;
      }
    }
  }
}
