@use "../global" as *;

#nav-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 1rem;
  position: relative;
  z-index: 1;

  a {
    font-size: $h4-size;
    font-weight: 550;
  }
}

.nav-wrapper {
  height: 3rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .nav-logo {
    display: flex;
    align-items: center;

    p {
      color: $primColor;
    }

    h3 {
      display: flex;
      font-size: $h2-size;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: $default-gap;

    a {
      &:hover {
        color: $primColor;
      }
    }
  }

  .login-register {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a:first-child {
      &:hover {
        color: $primColor;
      }
    }

    a:nth-child(2) {
      @include button-style;
    }
  }
}

//! AllPagesBg

#all-pages-start-screen {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../img/allPagesBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-pages-start-wrapper {
  background-color: #ffffffbe;
  display: flex;
  width: 100%;
  max-width: 75rem;
  display: flex;
  margin: 0 3rem;

  h1 {
    font-size: $h1-size;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: $h3-size;

    a:hover {
      color: $primColor;
    }
  }
}
