@use "../global/" as *;

#contact-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 0;
  margin: 0 3rem;
  align-items: center;
  max-width: 80rem;
  gap: 4rem;
}

.contact-page-text {
  display: flex;
  flex-direction: column;
  width: 25rem;

  h1 {
    font-size: $h1-size;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: $greyText;
  }

}
