@use "../global" as *;

#nav-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 1rem;
  position: absolute;
  z-index: 2;
  width: 100%;

  a {
    font-size: $h4-size;
    font-weight: 550;
  }
}

.nav-wrapper {
  height: 3rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .nav-logo {
    display: flex;
    align-items: center;

    p {
      color: $primColor;
    }

    h3 {
      display: flex;
      font-size: $h2-size;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: $default-gap;


    a {
      &:hover {
        color: $primColor;
      }
    }
  }

  .login-register {
    display: flex;
    gap: 1.5rem;
    align-items: center;


    a:first-child {
      &:hover {
        color: $primColor;
      }
    }

    a:nth-child(2) {
      @include button-style;
    }
  }

  .nav-menu-btn {
    display: none;
    cursor: pointer;
  }

  @media (max-width: $navBarWidth) {
  .login-register, .nav-menu {
    display: none;
  }
  .nav-menu-btn {
    display: flex;
  }
}


}
