@use "../global/" as *;

#about-page {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.about-page-wrapper {
  margin: 0 3rem;
  display: flex;
  gap: 2rem;

  @include mediumWidth {
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 30rem;
  }
}

.about-page-des {
  width: 25rem;

  @include mediumWidth {
    text-align: center;
  }

  p {
    color: $greyText;
  }
}

.about-page-adv {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;

    @include mediumWidth {
    justify-content: center;
  }

  .about-page-pros {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        color: $primColor;
    }

    div {
        margin-bottom: 1rem;
    }

    span {
        gap: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
    }
  }
}
