@use "../global" as *;

#home-page {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen {
  height: 80vh;
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 2rem;
  position: relative;
  width: 100%;
}

.welcome-des {
  width: 30rem;
  margin-left: 3rem;

  h3 {
    font-size: $h3-size;
  }

  h1 {
    font-size: $h1-size;
  }

  p {
    color: $grayText;
  }
}

.welcome-img {
  img {
    position: absolute;
    width: 40%;
    right: 8rem;
    top: 4rem;
  }
}
