@use "../global" as *;


//! home page

#home-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.welcome-screen {
  height: 74vh;
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.welcome-wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  max-width: 83rem;
  margin: 0 2rem;
  width: 100%;
}

.welcome-des {
  width: 40rem;
  margin-left: 3rem;
  position: relative;
  z-index: 2;

  h3 {
    font-size: $h3-size;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: $h1-size;
    display: inline;
    line-height: 3rem;

    strong {
      color: $primColor;
    }
  }

  p {
    margin: 2rem 0;
    color: $grayText;

    @media(max-width: 1050px) {
      width: 28rem;
    }
  }
}

.welcome-links {
  display: flex;
  gap: 1.5rem;

  a {
    display: flex;
    text-align: center;
    gap: 0.3rem;
    font-size: $h4-size;
    font-weight: 600;
  }

  a:nth-child(1) {
    @include button-style;
  }

  a:nth-child(2) {
    @include button-style;
    background-color: #000;
    border: #000 2px solid;

    path {
      transition: all 0s;
    }

    &:hover {
      color: #000;
      background-color: #ffff;
    }
  }
}

.welcome-img {
  position: absolute;
  left: 8rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  margin-right: .5rem;

  img {
    width: 40%;
    margin-right: 5rem;
  }
}


//! request form

#home-request {
  width: 100%;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.request-wrapper {
  height: auto;
  width: 100%;
  margin: 0 5rem;
  padding: 5rem;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;

  h2 {
    font-size: $h2-size;
    margin-bottom: 1rem;
  }

  .request-form {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;grid-template-rows: auto auto auto;


      div {
        display: grid;

        label {
          font-size: $h4-size;
          font-weight: 600
        }

        select, input {
          color: $grayText;
        }

        input {
          text-align: center;
          padding: .5rem 0;
        }
    }


    button {
      @include button-style;
      border: none;
    }

  }

}


//! Advantages screen

#advantages-screen {

  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  h2 {
    font-size: $h2-size;

  }
  h1 {
    font-size: $h1-size;
  }


}


